/* Main color: #F54E11 */
/* Secondary color: #AD726B */
/* Text color: #FBEAE8 */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --primary-color: #C43D33;
    --secondary-color: #A96467;
    --text-color: #F7DCDC;
}

body, html {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
}

header {
    top:0;
    left:0;
    width: calc(100% - 4rem);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    margin: 0 2rem;
    flex-wrap: wrap;
    border-bottom: rgba(0, 25, 25, 0.25) 1px solid;
}

header a:visited, header a:hover, header a:link, header a:active {
    color: var(--text-color);
    text-decoration: none;
}

header a {
    margin: 1rem 0;
    font-size: x-large;
    font-weight: bold;
}

header a::after {
    display: block;
    content: '';
    width: 0px;
    height:.25rem;
    transition: width 1s ease;
    background-color: var(--secondary-color);
}

header a:hover::after{
    width: 100%;
}

/* ---------------------------------------------------- */

section {
    margin: 1rem 2rem;
    color: var(--text-color);
}

/* ---------------------------------------------------- */

pre {
    width: fit-content;
    white-space: pre-wrap;
}

/* ---------------------------------------------------- */

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    background: var(--primary-color);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}

/* ---------------------------------------------------- */

section form input, section form textarea, section form input:focus, section form button {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
    outline: none;
    resize: none;
}

section form input::placeholder, section form textarea::placeholder{
    color: var(--text-color);
}

section form input {
    width: 100%;
}

section form button {
    padding: 1rem;
    position: absolute;
    left:50%;
    transform: translatex(-50%);
}

section form textarea {
    width: 100%;
}

section form button::after {
    display: block;
    content: '';
    width:0;
    height:.25rem;
    background-color: var(--secondary-color);
}

section form button:hover::after {
    width:100%;
}

/* ---------------------------------------------------- */

footer {
    color: var(--text-color);
    position: fixed;
    bottom: 1rem;
}